* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.header > div > ul {
  display: flex;
  padding: 0px 20px;
}

.nav-items > ul > li {
  list-style-type: none;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
}
.res-card {
  width: 200px;
  height: fit-content;
}
.res-card-img {
  width: 200;
  height: 150px;
  border-radius: 10px;
}
.res-card > h5,
p {
  padding: 5px 0px 0px 10px;
}

.res-container {
  margin: 0% 0% 0% 15%;
}
